@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');


html * {max-height:999999px;outline: none;}
html,body {
	width:100%;
    font-family: 'Roboto', tahoma, sans-serif;
	line-height: 1.5;
	color: #000;
	padding: 0;
	margin: 0;
    background: #fff;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility; 
}
body {
    font-size: 1rem;
}
body.hiddenbody-x {
	overflow-x: hidden;
}
body.hiddenbody {
    overflow: hidden !important;
}
body.blur .page-frame {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border-right: 17px solid #f1f1f1;
}
section {
	position: relative;
    margin: 3rem 0;
}
del {
	color:#212121;
}
label {	
    position: relative;
}
.label-none {
    display: none;
}
img {
	max-width: 100%;
	max-height: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
}
h1,
.header-section {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
    line-height: 1.2;
    margin: 0;
}
.header-section {
    margin-bottom: 2rem;
}
.header-section span{
    color: #2ab528;
}
.header-section.mini {
    font-size: 1.875rem;
}
.miniheader{
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 3rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 3rem 0 2rem;
}
h3 {
    font-size: 1.125rem;
    margin: 2rem 0 1rem;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
p{
    margin: 1.5rem 0;
    font-size: 0.9375rem;
}
p:first-child{
	margin-top:0;
}
a[href^="mailto:"] {
    color: #2ab528;
    border-bottom: 1px dashed #2ab528;
}
a, a:focus, input:focus, button:focus {
	outline:none !important;
	text-decoration: none !important;
}
a, a:focus, a:active {
    color: #2ab528;
    border-bottom: 1px solid #2ab528;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a.popup-with-zoom-anim {
    border-bottom: 1px dashed #2ab528;
}
a.popup-with-zoom-anim.btn {
    border: none;
}
a:hover {
    color: #2ab528;
    border-bottom: 1px solid transparent;
}
.link {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}
blockquote {
    position: relative;
    font-style: italic;
    padding: 30px 30px 30px 100px;
    text-align: left;
    color: #fff;
    margin: 0 0 20px;
}
blockquote p{
    padding: 5px 0;
    padding-left: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}
blockquote p strong,
blockquote li strong {
	color: inherit;
}
.small,
small {
	color:#888;
    font-size: 85%;
    font-style: italic;
}
.subheader {
    margin-top: 1.5rem;
}
.lt {
	text-align:left !important;
}
.ct {
	text-align:center !important;
}
.rt {
	text-align:right !important;
}
.img_link {
	border:none !important;
}
.image_circle,
.image_circle img{
    border-radius: 50%;
}
.white_bg {
    background: #fff;
}
.list ul,
.list ol {
	padding: 0;
	margin: 0;
    padding-left: 2rem;
}
.list ol { 
	counter-reset: item; 
}
.list ul li,
.list ol li{
    position: relative;
    margin: 0.5rem 0;
    font-size: 0.9375rem;
}
.list ul li,
.list ol li {
    list-style: none;
    padding-left: 1.5rem;
}
.list ul li a{
    border-bottom: 1px solid rgba(30, 136, 229, 0);
}
.list ul li a:hover{
    border-bottom: 1px solid #2ab528;
}
.list ul li::before{
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.35rem;
    background: #2ab528;
}
.list ol li::before {
    position: absolute;
    left: 0;
    top: 0;
	content: counter(item) ". ";
	counter-increment: item;
	color: #2ab528;
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
    font-weight: bold;
}

.button {
}
.btn,
.btn:visited,
.btn:focus,
.btn:active {
    position: relative;
    font-size: 0.95rem;
    display: inline-block;
    padding: 0.7rem 1rem;
    background: #2ab528;
    box-shadow: 0 6px 24px 0 rgba(68, 186, 37, 0.5);
    color: #fff;
    border: none;
    font-weight: 500;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    min-width: 170px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.btn:hover {
    border: none;
    color: #fff;
    z-index: 1;
    box-shadow: none;
}
.btn:hover::before  {
	opacity:1;
}
.btn_border,
.btn_border:visited,
.btn_border:focus,
.btn_border:active {
    border: 1px solid #ddd !important;
    color: #000;
    background: transparent;
    box-shadow: none;
}
.btn_border:hover {
    border: 1px solid #2ab528 !important;
    color: #fff;
    background: #2ab528;
}
.btn_border::before  {
    display: none;
}
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}



.scrollup{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 10rem;
    right: 2rem;
    display: none;
    text-indent: -9999px;
    border: 1px solid #000;
    z-index: 1;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.scrollup:hover,
.scrollup:focus,
.scrollup:active{
    border: 1px solid #000;
    opacity: 1;
}
.white_block {
	background: #fff;
	position: relative;
    padding: 30px 40px;
    margin: 15px 0;
    border: 1px solid #ECEFF1;
}
.sepa {
    padding: 0 10px;
}

.wrapper {
    background: #fff;
    padding: 4rem;
    -webkit-box-shadow: 0 20px 70px -20px rgba(0,0,0,0.2);
    box-shadow: 0 20px 70px -20px rgba(0,0,0,0.2);
}
.wrapper.mini {
    padding: 2rem;
}


/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .8rem; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #39383a;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}



.white-popup {
}
.white-popup.popup-content {
    max-width: 800px;
    background: #fff;
}
.white-popup.popup-content-mini {
    max-width: 700px;
    background: #fff;
}
.mfp-bg {
    opacity: .9;
    filter: alpha(opacity=90);
}
.mfp-arrow {
    margin-top: -35px;
    height: 70px;
}
.mfp-arrow::before {
    display: none;
}
.mfp-arrow::after {
    border: none;
    margin: 0;
    width: 4rem;
    height: 4rem;
}
.mfp-figure::after {
	box-shadow: none;
    background: transparent;
}
button.mfp-close {
    width: 60px;
    height: 60px;
    background: no-repeat center / 1.25rem;
    opacity: 1;
}
.white-popup  button.mfp-close {
    opacity: 0.7;
}
.white-popup  button.mfp-close:hover {
    opacity: 1;
}
.mfp-close:active {
    top: 0;
}



.form{
}
.form label{
    color: #000000;
    font-weight: normal;
}
.form-head {
    font-size: 1.25rem;
    margin: 2.5rem 0 1.5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #f2f3f5;
    padding: 1rem 1.125rem 0.8rem;
    height: auto;
    box-shadow: none;
    color: #000;
    font-size: 0.75rem;
    font-weight: 500;
    background: #f2f3f5;
    text-transform: uppercase;
    max-width: 300px;
}
.form-control:focus {
    border-bottom: 2px solid #2ab528;
    box-shadow: none;
}
.agreement-label {
    margin: 1.5rem 0;
	font-size: 0.8rem;
}
.popup-form{
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
}
.popup-form .form-head {
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
    font-size: 1.875rem;
    line-height: 1;
    margin: 0;
}
.popup-form .form-desk {
    margin: 1rem 0 2.5rem;
}
.popup-form .form-control{
    margin: 0 auto;
    max-width: none;
}
input:-moz-placeholder {
    color: #666 !important;
}
input::-moz-placeholder {
    color: #666 !important;
}
input:-ms-input-placeholder {
    color: #666 !important;
}
input::-webkit-input-placeholder {
    color: #666 !important;
}

input[type="checkbox"],
input[type="radio"] { 
display: none; 
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.7rem;
    font-weight: normal;
	line-height: 1.4;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content: '';
	position: absolute;
	display: block;
	width: 1rem;
	height: 1rem;
	border: 1px solid #000;
	left: 0;
	top: 1px;
	opacity: 0;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}
input[type="checkbox"] + label::after {
	content: '';
	position: absolute;
	display: block;
	width: 1rem;
	height: 1rem;
	border: 1px solid #000;
	left: 0;
	top: 1px;
	opacity: .3;
}
input[type="radio"] + label::before {
	border-radius:50%;
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0.3;
}
input[type="checkbox"]:checked + label::before {
	width: 0.5rem;
    top: -3px;
    left: 6px;
	border: 2px solid #2ab528;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
input[type="radio"]:checked + label::before{
    border: 1px solid #2ab528;
    opacity: 1;
}
input[type="radio"]:checked + label::after{
	content: '';
    position: absolute;
	display: block;
    width: 9px;
    height: 9px;
    left: 5px;
    top: 6px;
    background: #2ab528;
    border-radius: 50%;
}
input[type="radio"]:hover + label {
	color: #2ab528;
}
input[type="radio"]:hover + label::before {
	border: 2px solid #2ab528;
}
input[type="checkbox"]:hover + label::after {
    opacity: 1;
}
.checkbox li{
    position: relative;
}
.checkbox-popup{
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    z-index: 100;
    background: #39383a;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
    font-size: 0.7rem;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color: #fff;
}
.checkbox-popup.visible{
    display: inline-block;
}
.checkbox-popup::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 15px 17px 0;
    border-color: transparent #39383a transparent transparent;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}
.checkbox-list{
    position: absolute;
    display: inline-block;
    background: #2ab528;
    padding: 0.5rem 1rem;
    top: 0;
    margin-left: 1rem;
    cursor: pointer;
}



.form-step{
    position: relative;
    border: 5px solid #2ab528;
    padding: 3rem;
    overflow: hidden;
}
.form-step::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    margin-right: -2.5rem;
}



.form-price{
    position: relative;
    padding: 3rem;
    overflow: hidden;
}
.form-price .header-section{
    color: #fff;
    max-width: 400px;
}
.form-price .desk{
    color: #fff;
    margin-bottom: 1.5rem;
    margin-top: -0.7rem;
    max-width: 550px;
}
.form-price a{
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.form-price a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.form-price .btn{
    background: #000;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.5);
	padding: 0.9rem 1.125rem;
}
.form-price .btn:hover{
    box-shadow: none;
}
.form-price input[type="checkbox"]:checked + label::before {
    border: 2px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
}
.form-price .agreement-label,
.form-price .checkboxl {
    margin: 0;
}



.form-project{
    position: relative;
    padding: 3rem;
    border: 5px solid #2ab528;
}
.form-project::before{
    content: "";
    position: absolute;
    right: -6rem;
    bottom: 0;
    width: 100%;
    height: 120%;
}
.form-project .header-section{
    max-width: 400px;
}
.form-project .desk{
    margin-bottom: 1.5rem;
    margin-top: -0.7rem;
    max-width: 550px;
}
.form-price .agreement-label,
.form-price .checkboxl {
    margin: 0;
}
.form-project .ph{
    position: relative;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding-top: 1rem;
}
.form-project .ph::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5rem;
    height: 1px;
    background: #000;
}
.form-project .ph a{
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
    font-size: 2.5rem;
	border:0;
}



#modal-not-agreement{
    display: none;
    position: fixed;
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 4rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow: hidden;
    border: 0;
}
#modal-not-agreement h2{
    color: #000;
    font-family: 'HelveticaNeueCyr', tahoma, sans-serif;
    font-size: 1.875rem;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    position: relative;
    margin: 1.5rem 0;
    padding: 0;
    display: block;
}
#modal-not-agreement .icon{
    width: 4rem;
    height: 4rem;
    border: 1px solid #de0000;
    border-radius: 50%;
    margin: 1.25rem auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
#modal-not-agreement .icon svg{
    stroke: #de0000;
    fill: none;
    width: 1.5rem;
    height: 4rem;
}
#modal-not-agreement .btn{
    margin-top: 2rem;
}
#modal-not-agreement__overlay{
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9998;
}


.message-error, .message-tooltip {
    display: block;
}